<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
  </head>
  <body>
    <h1>Membership</h1>
      <form action="/auth/membership" method="post">
        <label for="passcode">Enter the secret passcode to become a member:</label>
        <input type="password" id="passcode" name="passcode" required>
        <button type="submit">Join the Club</button>
      </form>
  </body>
</html>
